.error{
    color: red;
    margin-top: 10px;
}

body{
    font-family: Arial, sans-serif;
    background-color: lightblue;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: azure;
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    text-align: center;
} 

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
}

label{
    margin-bottom: 10px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    border: none;
    border-style: solid;    
}   

 button{
    padding: 10px;
    background-color: lavenderblush;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-style: solid;
 }

 button:hover{
    background-color: greenyellow;
 }