.error{
    color:red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:green;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin: 0;
    padding: 20px;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: azure;
    padding: 20px;
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: seashell;
    border-radius: 10px;
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    border-color: red;
    border-style: solid;
    border: none;
    margin-bottom: 10px;
    border-style: solid;
}

.textos{
    width: 85%;
    font-size: 16px;
}

button{
    padding: 10px;
    background-color: lavender;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    border-style: solid;
}

.botaoCadastro{
    margin-bottom: 15px;
}

button:hover{
    background-color: greenyellow
}

.lista{
    margin-top: 20px;
    border: 1.5px solid darkturquoise;
    border-radius: 10px;
    padding: 15px;
    background-color: seashell;
}

ol{
    margin-top: 10px;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

li{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-style: solid;
    border-color: darkturquoise;
    padding-left: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: white;
}

