<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

    <div id="app">
        <h1>Página de Usuários Cadastrados</h1>
        <div class="lista">
            <button class="botaoCadastro" @click="verCadastrados">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>

            <!--Processo para listar os usuários e senhas cadastrados nos arrays "usuário" e "senhas"-->
            <ol v-if="mostrarLista">
                <li v-for="(usuario, index) in usuarios">
                    Usuário: {{usuario}}

                    <button class="botaoCadastro" @click="excluirUsuario(usuario)">Excluir</button>
             
                </li><!--Fechamento li-->
            </ol><!-- Fechamento ol-->
        </div>

    </div><!--Fechamento div principal-->

    <script src="process.js"></script>
    
</body>
</html>