img{
    width: 150px;
    height: auto;
    border: 2px solid gray;
    padding: 8px;
    background-color: lightgray;
    transition: transform 1s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.03);
}

body{
    font-family: Arial, sans-serif;
    background-color: burlywood;
    padding: 20px;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}


a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: midnightblue;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-style: 2px solid;
    border-color: whitesmoke;
    border-radius: 7px;
    margin-right: 10px;
}

k{
    color: green
}