.calculadora{
    background-color: midnightblue;
    top:50%;
    left:50%;
    position: fixed;
    display: flex;
    border: 1px solid lightgray;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(midnightblue, lightblue);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*Fechamento calculadora*/

.tela{
    color: aliceblue;
    width: 93%;
    height: 80px;
    background-color: lightslategray;
    border-radius: 10px;
    /* font-size: 3rem; */
    margin-bottom: 20px;
    border: 3px solid lightskyblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*Fechamento tela*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.configuracaoBotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento configuracaoBotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 5px;
    margin-bottom: 0;
    border: 2px solid darkslategrey;
    border-radius: 10px;
    cursor: pointer;
    background-color: snow;
}

button:hover{
    background-color: gainsboro;
}

button:last-child{
    margin-right: 0;
}

.clear{
    width: 100px;
}