body {
    background-color: rgb(255,248,248);
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
    color: darkcyan;
}
ul{
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 5%;
}

a{
    display: block;
    text-align: center;
    background-color: lightgray;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    transition: all 1s ease-in-out;
    color: whitesmoke;
}

a:hover{
    background-color: lightblue;
    color: black;
}

.instagram{
    background-color: rgba(235, 73, 101, 1);
    background-image: linear-gradient(to bottom, rgba(255, 163, 75, 0.55),
     rgba(235, 73, 101, 1));
}

.twitter{
    background-color: rgba(61, 173, 226, 1);
}

.facebook{
    background-color: rgba(25, 119, 243, 1);
}